.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  font-family: 'Figtree';
  min-height: 100vh;
  margin: 100px;

}

#nav {
  background-color: blueviolet;
}
